<div id="layout-main" user_id="<%= user_id %>">
<%- include('navbar') -%>  
</div>
<div id="home-page">  
<div id="create-habbit">
    <div class="card-outer-class1">
        <div class="card-inner">
            <div class="captions">
                <h2>Add a Habbit</h2>
                <h5>Fill out a form to add a habbit</h5>
            </div>
            <form method="post" action="/addHabbit" enctype="multipart/form-data">
                <div id="habbitNameField">
                <label for="habbitName"><div id="outerNameLabel"><div class="tiler" id="habbitNameLabel">Habbit Name</div></div></label>
                <input type="text" id="habbitName" name="habbitName" placeholder="Enter Habbit"/>
                </div>
                <div id="habbitDescriptionField">
                    <label for="habbitDescription"><div id="outerDescriptionLabel"><div class="tiler" id="habbitDescriptionLabel">Habbit Description</div></div></label>
                    <textarea type="text" id="habbitDescription" name="habbitDescription" placeholder="Enter Habbit Description"></textarea>
                </div>
                <div id="habbitTypeField">
                    <label for="habbitType"><div id="outerTypeLabel"><div class="tiler" id="habbitTypeLabel">Habbit Category</div></div></label>
                    <select name="habbitType" id="habbitType" placeholder="Enter Habbit Type">
                        <option value="Health">Health</option>
                        <option value="Work">Work</option>
                    </select>
                </div>
                <div id="daysField">
                <div id="frequency-label"><p class="tiler">Frequency</p></div>    
                <div id="dayBox">
                    <input type="checkbox" id="Sunday" name="Sunday">
                    <label for="Sunday">
                        <div id="outerDayLabel"><div class="tiler" id="innerDayLabel">S</div></div>
                    </label>
                 </div>
                <div id="dayBox">
                   <input type="checkbox" id="Monday" name="Monday">
                   <label for="Monday">
                       <div id="outerDayLabel"><div class="tiler" id="innerDayLabel">M</div></div>
                   </label>
                </div>
                <div id="dayBox">
                    <input type="checkbox" id="Tuesday" name="Tuesday">
                    <label for="Tuesday">
                        <div id="outerDayLabel"><div class="tiler" id="innerDayLabel">T</div></div>
                    </label>
                </div>
                <div id="dayBox">
                    <input type="checkbox" id="Wednesday" name="Wednesday">
                    <label for="Wednesday">
                        <div id="outerDayLabel"><div class="tiler" id="innerDayLabel">W</div></div>
                    </label>
                </div>
                <div id="dayBox">
                    <input type="checkbox" id="Thursday" name="Thursday">
                    <label for="Thursday">
                        <div id="outerDayLabel"><div class="tiler" id="innerDayLabel">T</div></div>
                    </label>
                 </div>
                <div id="dayBox">
                   <input type="checkbox" id="Friday" name="Friday">
                   <label for="Friday">
                       <div id="outerDayLabel"><div class="tiler" id="innerDayLabel">F</div></div>
                   </label>
                </div>
                <div id="dayBox">
                    <input type="checkbox" id="Saturday" name="Saturday">
                    <label for="Saturday">
                        <div id="outerDayLabel"><div class="tiler" id="innerDayLabel">S</div></div>
                    </label>
                 </div> 
                </div> 
               <div id="timeBox">
                <label for="timeRemind">
                    <div id="outerTimeLabel"><div class="tiler">
                        Set time to Reminder</div></div>
                </label>
                <input id="timeRemind" name="timeRemind" type="time">
               </div> 
               <button id="submitHabbit" class="tiler" type="Submit">+ AddHabbit</button>
            </form>
        </div>
    </div>

</div>
<div id="myTasks">
    <div id="myTasks-heading" style="color: white;">
        <div id="myTasks-mainHeading">Today's Tasks</div>
        <div id="myTasks-showButton"><button>Show Tasks</button></div>
    </div>
    <div class="myTasks-content">
    </div>
</div>
</div> 
<div id="calender-page">
    <h1>Week's History</h1>
</div>     
<div id="user-page">
    <h1>User Page</h1>

    <div class="card" style="max-width: 400px; margin: 60px auto; border-radius: 8px; border: 3px solid black;">
        <div class="card-header" style="background: #4347F6; color:white; border-bottom: 3px solid black;">
          Change Photo
        </div>
        <div class="card-body">
            <form id="changePhoto" enctype="multipart/form-data" style="display: flex; flex-direction: column; align-items: center; justify-content: space-around;">
            <div id="user-photo-section" style="margin: 20px;">
                <div id="photo-upload">
                    <input type="file" id="imageUpload" name="profile-photo" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label></div>
                <div id="user-photo"><Img src="<%= profilePhoto %>"></div>
            </div>

            <button type="submit" class="btn btn-primary" style="margin: 20px;">Save</button>
            </form>
        </div>
    </div>
    <a href='/users/logout'><button class="btn btn-primary">Logout</button></a>
    <div class="card" style="max-width: 700px; margin: auto; border-radius: 8px;border: 3px solid black;">
        <div class="card-header" style="background: #4347F6; color:white; border-bottom: 3px solid black;">
          Change Password
        </div>
        <div class="card-body">
            <form id="changePassword" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="password-changePassword">New Password</label>
                  <input type="password" class="form-control" id="password-changePassword" name="password-changePassword" placeholder="Your new Password">
                </div>
                <div class="form-group">
                  <label for="confirmpassword-changePassword">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmpassword-changePassword" name="confirmpassword-changePassword" placeholder="Confirm password">
                </div>
                <div id="isbothMatching"></div>
                <button type="submit" class="btn btn-primary" id="button-changePassword">Change Password</button>
            </form>
        </div>
      </div>
</div>
<div id="notifications-page" style="min-height: 900px;">
    <h1>Notifications Page</h1>
    <div id="notificationsBody">
    <div class="card" id="noNotifications" style="max-width:800px; margin: 20px;">
        <div class="card-header" style="background: #28a745; color: white; font-weight: bold;">
          No Notifications
        </div>
        <div class="card-body">
          <h3 class="card-title">No notifications to display</h3>
        </div>
      </div>
    </div>  
</div>
