
<div class="topBox">
    <div id="logo">
        <img src="../Img/logo.png"/>
    </div> 
    <div class="all-icons">
        <div id="icon-1">
            <i id="img" class="fa-solid fa-house"></i>
       </div>

       <div id="icon-2">
            <i class="fa-sharp fa-solid fa-calendar-days"></i>
       </div>


       <div id="icon-3">
            <i id="img" class="fa-solid fa-user"></i>
       </div>

       <div id="icon-4">
            <i id="img" class="fa-solid fa-bell"></i>
       </div>
    </div>
</div>