<div id="main">
    <div id="image">
        <div id="logo">
            <img src="/Img/logo.png"/>
        </div>
    </div>
    <div id="loginSide">
        <div id="container">
            <h1 id="heading">Reset Password...</h1>
            <section class="vh-100">
                <div class="container py-5 h-100">
                  <div class="row d-flex align-items-center justify-content-center h-100">
                    <div id="loginForm" class="col-md-7 col-lg-8 col-xl-8 offset-xl-1">
                      <form id="resetPasswordForm" action="/users/login/reset-password/<%= userId %>/<%= tokenId %>" method="post" enctype="multipart/form-data">
                        <!-- Email input -->
                
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                          <input type="password" id="form1Example23" name="password" class="form-control form-control-lg" />
                          <label class="form-label" for="form1Example23">Password</label>
                        </div>
                        
                        <div class="form-outline mb-4">
                            <input type="password" id="form1Example13" name="confirmPassword" class="form-control form-control-lg" />
                            <label class="form-label" for="form1Example23">Confirm Password</label>
                        </div>
                          
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg ">Reset Password</button>
                      </form>
                    </div>
                    <div id="passwordresetSuccess">
                      <h3 style="color: blue;">Looks like your password got changed</h3>
                      <a href="/users/login"><button class="btn btn-primary btn-lg ">Get Back Login Page</button></a>
                    </div>
                    <div id="passwordresetFailure">
                      <h3 style="color: red;">Request Unauthorized</h3>
                      <a href="/users/login"><button class="btn btn-primary btn-lg">Get Back Login Page</button></a>
                    </div>
                    
                  </div>
                </div>    
        </section>       
        </div>
    </div>
</div>
