
<div id="main">
    <div id="image">
        <div id="logo">
            <img src="/Img/logo.png"/>
        </div>
    </div>
    <div id="loginSide">
        <div id="container">
            <h1>Looks like you were a little bit late...</h1>
            <p>Either the reset link given to you was expired or it is incorrect</p>
        </div>
    </div>
</div>